<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_movement.name %>
</p>

<%= link_to 'Edit', edit_type_movement_path(@type_movement) %> |
<%= link_to 'Back', type_movements_path %>
